numpy==1.24.1
opencv-python-headless==4.8.1.78
SimpleITK==2.3.1
torch==1.10.2+cu111
torchvision==0.11.3+cu111
torchmetrics==1.2.0
tensorboard==2.14.0
pytorch-lightning==1.9.0
optuna==3.5.0
test-tube==0.7.5


